/*
* {
    outline: 1px solid grey;
}
*/

/*
* {
  background-color: rgba(255, 0, 0, 0.05);
}
*/

body {
    font-family: Arial, sans-serif;
    padding: 5px;
    color: #607d8b;
}

a {
    text-decoration: none;
}

.my-container {
    display: flex;
    justify-content: space-between;
    width: 100%; /* чтобы растянуть контейнер на всю ширину */
}

.table-wrapper {
    display: flex;
    flex-direction: column; /* текст над таблицей */
    width: 700px;
}

.table-title {
    text-align: center; /* текст слева */
    font-size: 24px;
    color: #607d8b;
    margin-bottom: 10px;
}

table {
    border-collapse: collapse; /* объединяем границы */
    width: 100%;
}

.table-form form {
    display: flex;         /* горизонтальное расположение полей */
    flex-wrap: nowrap;     /* запрещаем перенос на новую строку */
}

.table-form form input {
    width: 100%;           /* фиксированная ширина полей */
    box-sizing: border-box;
    border-radius: 0;           /* убираем скругление */
    flex: 0 0 60px;             /* фиксированная ширина */
    margin: 0;
}

.table-form input:focus {
    box-shadow: none;       /* убирает тень Bootstrap */
}

.error {
    min-height: 25px;
    color: #bf0e0e;
    font-size: 16px;
    text-align: left;
}

.log_in {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    min-height: 36px;
    color: #bf0e0e;
    font-size: 16px;
    margin-bottom: 10px;
}

.table-dark th {
    font-weight: normal;
    color: #607d8b;
}

.table-dark td {
    color: #afb2b3;
}

.authorization {
    text-align: left;
}

.btn {
    border: none;
    border-radius: 0;
}

.film {
    flex: 1 1 176px;   /* растет и сжимается, но минимум 176px */
    max-width: 200px;  /* ограничиваем слишком большой рост */
    text-align: center;
}

.film img {
    width: 100%;             /* чтобы картинка точно совпала с шириной блока */
    display: block;          /* убирает отступы под img */
}

.film a {
    display: block;          /* перенос строки под картинку */
    text-decoration: none;   /* убрать подчёркивание, если нужно */
    color: #607d8b;             /* цвет текста */
    max-width: 100%;         /* чтобы текст не выходил за картинку */
    word-wrap: break-word;   /* перенос длинных слов */
    margin-top: 10px;         /* небольшой отступ сверху */
}

.films-list {
    display: flex;           /* включаем горизонтальный флекс */
    flex-wrap: wrap;         /* перенос строк при нехватке места */
    gap: 10px;               /* расстояние между фильмами */
    justify-content: space-between;
    padding: 0;
    margin: 0;
    list-style: none;
}